:root {
  --darkest-color: #161a30;
  --dark-color: #31304d;
  --shiny-color: #b6bbc4;
  --web-color: #f0ece5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--darkest-color);
  min-height: 100vh;
  min-width: 100vw;
}

button,
.bi,
input,
h5 {
  background: transparent;
  border: none;
  color: var(--web-color);
  transition: 0.3s;
}

button:hover {
  background-color: var(--web-color);
  color: var(--darkest-color);
  transition: 0.3s;
}
button:hover .bi {
  color: var(--darkest-color);
  transition: 0.3s;
}
