:root {
  --darkest-color: #161a30;
  --dark-color: #31304d;
  --shiny-color: #b6bbc4;
  --web-color: #f0ece5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--darkest-color);
  min-height: 100vh;
  min-width: 100vw;
}
/* Navbar settings */
.main-left-box,
.main-right-box {
  width: 20%;
  height: 300px;
}
.main-mid-box {
  width: auto;
  border-bottom: 1px solid var(--dark-color);
}

.content-wrapper {
  width: 38%;
  border: 1px solid var(--dark-color);
}

button,
.bi,
input,
h4 {
  background: transparent;
  border: none;
  color: var(--web-color);
  transition: 0.3s;
}

button:hover {
  background-color: var(--web-color);
  color: var(--darkest-color);
  transition: 0.3s;
}
button:hover .bi {
  color: var(--darkest-color);
  transition: 0.3s;
}
.btn-top:hover {
  background-color: var(--dark-color);
  color: var(--web-color);
}

/* Search bar */
.search-bar,
.obs-too-box {
  background: var(--dark-color);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
